<!DOCTYPE html>
<html>
<head>
  <title>Scrip</title>
  <%= stylesheet_link_tag    "scrip/application", :media => "all" %>
  <%= javascript_include_tag "scrip/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
